@charset "UTF-8";
/* CSS Document */

body {
	font-size:1em/100%;
	background-color:black;
	margin: 0;
    padding: 0;
}

.bg, .bg.zero {
	background-image: url(assets/bg.png);
}
.bg.one {
	background-image:url(assets/bg2.png);
}
.bg.two {
	background-image:url(assets/bg3.png);
}
.bg.three {
	background-image:url(assets/bg4.png);
}


#wrapper {
	width: 80%;
	margin:auto;
	background-color: #ebe1f1;
	box-shadow: 4px 4px 4px #333;
	
}

header {
	background-repeat: repeat-x;
	background-size: cover;
	background-image: url(assets/websyteheader.png);

}



footer {
	color:#423b47;
	font-size: .80em;
	background-color:#1d1b1e;
	padding:1px 0px 1px 20px;
	line-height:20px;
}

nav {
	display: block;
	font-size:1.42em;
	font-weight:normal;
	color:#423b47;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding:15px 0 10px 0;
	text-align: center;
	background-color:#181719;
	text-shadow: 0px 1px 1px #000;
	box-shadow: 0px 4px 2px #231e26;
}

nav ul{
	list-style-type: none;
}

nav li{
	display: inline;
}

syteheader {
	
}

#leftCol {
position: absolute;
	height:1240px;
	float:left;
	width:40%;
	margin-right: 50%;
	background-color: #161518;
	padding:20px 0 10px 25px;
}

#rightCol {
	height:1240px;
	float: right;
	width:50%;
	margin-left: 50%;
	padding:20px 0px 10px 10px;
	background-color: #ebe1f1;
	
}

h2 {
	font-family: Helvetica, Arial, "sans-serif";
	font-size:1.7em;
	color:#ddd1e5;
	margin: 5%;
	text-shadow: 1px 1px 1px #000;
}

#rightCol h2, #rightCol h3{
	margin-left:10%;
}

#rightCol p, #rightCol p{
	margin-left:15%;
}

h3 {
	font-family: Helvetica, Arial, "sans-serif";
	font-size:1.4em;
	color:#ddd1e5;
	margin: 5%;
	text-shadow: 1px 1px 1px #000;
	
}


p {
	font-family: Helvetica, Arial, "sans-serif";
	text-transform: lowercase; 
	margin: 10%;
}


li {
	color:#ffc908;
	font-size: 1.125em;
}

a:link {
	color:#ffc908;
	text-decoration: none;
}

a:visited {
	color:#ffc908;
}

a:hover {
	color:#ddd1e5;
}

a:active {
	color:#37343a;
}


footer a:link {
	color:#7c7284;
	text-decoration: none;
}

footer a:visited {
	color:#7c7284;
}

footer a:hover {
	color:#ddd1e5;
}

footer a:active {
	color:#ddd1e5;
}


.yellow {
	color:#ffc908;
	letter-spacing:2px;
	font-size: 1.125em;
	font-weight:bold;	
}

.black {
	color:#ddd1e5;

	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: lowercase;
	
}


.white {
	color:#423b47;
	
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}

#logo {
	width:60%;
	height: auto;
	margin: 10% 20% 10% 20%;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 11px;
    border: 1px solid #2d2633;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:#ffc908;
    color: #2d2633;
    padding: 15px 20px 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2d2633;
	color:#e6dfed;
}

.container {
	text-align: right;
    border-radius: 5px;
    background-color: #e6dfed;
    padding: 20px;
}

#contact{
	line-height: 400%;
}

button{
	display: none;
}



@media only screen and (max-width: 800px){
	#wrapper{
		width:100%;
	}
	
	#leftCol {
		position: relative;
		width: 100%;
	}
	
	#rightCol {
		position: relative;
		width: 100%;
	}
	
	nav {
		background-color: #ebe1f1;
		color:#000;
		text-shadow: 0px 1px 1px #423b47;
	}
	nav a:link, nav a:visited {
		color:#423b47;
	}
	nav a:hover {
		color:#ffc908;
	}

}

@media only screen and (max-width: 500px){
	#menu{
		display: none;
	}
	#button{
		display: block;
		width:40px;
		height:40px;
		background-image: radial-gradient(#423b47,#423b47);
		color: #ffc908;
		font-size: 1.1em;
	}
	
	nav li{
		display: inline-block;
		width: 100%;
	}
	
	nav li:hover, nav li:active{
		background-color: #423b47;
	}
	
	#rightCol{
		height:850px;
	}
	
	#leftCol{
		height:1000px;
	}
	
	#contact{
	line-height: 100%;
}

}
