@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(https://cdn.vox-cdn.com/thumbor/9haF5TwHhbwRzABaqabbuWoaenc=/0x0:790x526/1200x800/filters:focal(332x200:458x326)/cdn.vox-cdn.com/uploads/chorus_image/image/52609059/Screen_Shot_2017_01_05_at_11.23.44_AM.0.png);
	width:1200px;
	font-size:1em/100%;
	background-color:black;
}


#aboutbg {
	background-image:url(assets/midtermbg2.png);
	width:1200px;
	font-size:1em/100%;
	background-color:black;
}



#infobg {
	background-image:url(assets/midtermbg3.png);
	width:1200px;
	font-size:1em/100%;
	background-color:black;
}

#contactbg {
	background-image:url(assets/midtermbg4.png);
	width:1200px;
	font-size:1em/100%;
	background-color:black;
}


header {
	background-image:url(assets/websyteheader.png);
	background-repeat: repeat-x;
	padding:66px 0px 190px 0px;
}

footer {
	color:#423b47;
	font-size: .80em;
	background-color:#1d1b1e;
	padding:1px 0px 1px 20px;
	line-height:20px;
}

nav {
	font-size:1.42em;
	font-weight:normal;
	color:#423b47;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding:20px;
	text-align: center;
	background-color:#181719;
	text-shadow: 0px 1px 1px #000;
	box-shadow:  0px 2px 3px #231e26;
}

#wrapper {
	width: 80%;
	margin:auto;
	background-image: url(assets/websytebody.png);
	box-shadow: 4px 4px 4px #333;
	
}




.syteheader {
	display: block;
	width: 500px;
	height: 177px;
	background:url(assets/websyte.png) bottom;
	background-repeat: no-repeat;
	position: absolute;
    right: 23%;
	padding:10px;
}


h2 {
	font-family: Helvetica, Arial, "sans-serif";
	font-size:1.7em;
	color:#ddd1e5;
	padding:20px 10px 20px 50px;
	text-shadow: 1px 1px 1px #000;
}

h3 {
	font-family: Helvetica, Arial, "sans-serif";
	font-size:1.4em;
	color:#ddd1e5;
	padding:15px 10px 10px 30px;
	text-shadow: 1px 1px 1px #000;
	
}


p {
	font-family: Helvetica, Arial, "sans-serif";
	text-transform: lowercase; 
	padding: 5px 20px 5px 33px;
}

img {
	padding:20px;
}

li {
	color:#ffc908;
	font-size: 1.125em;
}

a:link {
	color:#ffc908;
	text-decoration: none;
}

a:visited {
	color:#ffc908;
}

a:hover {
	color:#ddd1e5;
}

a:active {
	color:#37343a;
}


footer a:link {
	color:#7c7284;
	text-decoration: none;
}

footer a:visited {
	color:#7c7284;
}

footer a:hover {
	color:#ddd1e5;
}

footer a:active {
	color:#ddd1e5;
}

dd {
	display: block;
	width:1000px;
	
}

dt {
    color:#ddd1e5;
	font-size:1.2em;
	font-weight: bold;
	font-family: Helvetica, Arial, "sans-serif";
	text-transform: lowercase; 
	padding: 5px 20px 5px 20px;
}	

dd {
	display: block;
	width:410px;
	text-align: right;
	font-size: .9em;
	float:right;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 5px 25px 5px 15px;
	
}

.yellow {
	color:#ffc908;
	letter-spacing:2px;
	font-size: 1.125em;
	font-weight:bold;	
}

.black {
	color:#ddd1e5;
	width:367px;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: lowercase;
	margin:5px 10px 40px 33px;
}


.white {
	color:#423b47;
	text-align: right;
	width:800px;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin:5px 10px 40px 33px;
}



#logo {
	float:right;
	width:250px;
	height:250px;
	padding:80px 75px 200px 5px;
}


#aboutheader {
	display: block;
	width: 963px;
	height: 10px;
	background:url(assets/yellowonblackrlovr.png) bottom;
	background-repeat:repeat;
	text-indent: -999px;
}

#infoheader {
	display: block;
	width: 963px;
	height: 10px;
	background:url(assets/websyteheader3rollovr.png)bottom;
	background-repeat:repeat;
	text-indent: -999px;
}

#contactheader {
	display: block;
	width: 963px;
	height: 10px;
	background:url(assets/websyteheader4rollovr.png) bottom;
	background-repeat:repeat;
	text-indent: -999px;
}

#aboutheader:hover {
	background-position: 0 0;
}

#infoheader:hover {
	background-position: 0 0;
}

#contactheader:hover {
	background-position: 0 0;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 11px;
    border: 1px solid #2d2633;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:#ffc908;
    color: #2d2633;
    padding: 15px 20px 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2d2633;
	color:#e6dfed;
}

.container {
    border-radius: 5px;
    background-color: #e6dfed;
    padding: 20px;
}
