@import url(https://p.typekit.net/p.css?s=1&k=xgo4dvr&ht=tk&f=18200.18201.24539.24547.24548.24580.24588&a=25506376&app=typekit&e=css);
@import url('settings.css');


body #page {
    width: 100vw;
    overflow: hidden
}

body #page #top-nav ul li:link,
body #page #top-nav ul li:visited,
body #page ul li {
    color: #fefefe !important
}

body #page #top-nav {
    margin-left: calc((100vw - 1242px)/ 2) !important;
    transform: translateX(24px)
}

body #page #top-nav .scrolling #top-nav ul li:link,
body #page #top-nav .scrolling #top-nav ul li:visited {
    color: #c33 !important
}

body #page #top-nav #barMenu li a:hover {
    color: #c33 !important;
    transition: none
}

body #page #top-nav .logo {
    height: 48px
}

body #page #top-nav .logo:hover {
    background-color: #c33;
    border-radius: 50%
}

body #page h2 {
    margin-top: 88px;
    font-weight: 700;
    font-size: 10rem;
    margin-bottom: 48px !important
}

body #page .featured:hover {
    background-color: #0031ff;
    filter: none;
    box-shadow: gray 0 0 10px 2px;
}

body #page .featured:hover h5{
     color: rgba(255, 255, 255, 1) !important;
     transition: color 500ms ease-out;
}

body #page .featured:hover .drk {
    color: var(--white);
}

body #page .featured.alnRgt .workImgHeader {
    padding-right: 20px
}

body #page .featured.dsx {
    border: 4px solid #4cc0ad;
    border-top-width: 0;
    border-left-width: 1px;
    border-bottom-width: 2px;
}

body #page .prof:hover {
    background-color: #c33;
    filter: invert(0) !important
}

body #page .portfolioSectionHeader {
    margin: 0;
    font-size: 48px;
    letter-spacing: 3px;
    width: 100%
}

body #page #projWork {
    margin-bottom: 12px
}

body #page .homepageText.bio {
    line-height: 150%;
    margin-left: calc((100vw - 1180px)/ 2);
    font-size: 16px;
    /* margin-right: calc((100vw - 240px)/ 2) */
    padding: 0 33% 0 0;
}

body #page .dot {
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 4px;
    z-index: -5;
    opacity: 0;
    transition: opacity 375ms linear
}

body #page #me {
    border-radius: 50% 60% 40% 70%;
    width: 140px;
    height: 140px;
    top: -160px;
    margin-bottom: 20px;
    position: relative;
    left: 67%;
    filter: grayscale(1);
    transform: rotate(0);
    border: 0 solid var(--white);
    transition: 125ms ease-out
}

body #page #me:hover {
    filter: grayscale(0);
}


body #page #lowerText:hover p #me,
body #page #resume-btn:hover #me,
body #page .bio:hover #me {
    width: 160px;
    height: 160px;
    margin: 0;
    filter: none;
    box-shadow: 2px 2px 0 0 var(--white);
    border: 1px solid var(--white);
    transform: rotate(0)
}

body #page #lowerText {
    margin-top: 48px;
    margin-bottom: -60px;
    position: relative;
    z-index: 2
}

body #page #profWork::before,
body #page #projWork::before {
    content: "";
    border-radius: 50%;
    background-color: #0031ff;
    height: 48px;
    width: 48px;
    display: inline-block;
    margin-right: 24px !important
}

body #page #profWork::before,
body #page #resume-btn:hover {
    background-color: #c33
}

body #page .featuredGrid {
    height: 1632px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
}

body #page .shyflower{
    border:2px solid palevioletred;
    border-width: 0px 0px 1px 1px;
}

body #page .psbp{
    border:2px solid rgb(225, 46, 41);;
}

body #page .featured:nth-of-type(10) {
    grid-row: 6/7;
    grid-column: 2/3
}

body #page #typing {
    font-size: 88px;
    letter-spacing: 0;
    color: #fff
}

body #page #cursor {
    transform: translateY(48px)
}

body #page .upper {
    margin-top: 0 !important
}





@media (min-width:801px) {
    body #page .workImgHeader.drk {
        color: var(--black)
    }

    body #page .dub-row .featured:first-of-type {
        width: 45%;
        margin-right: 5%
    }

    body #page .dub-row .featured:last-of-type {
        width: 50%
    }

    body #page .upper.workDesc {
        margin-left: 0 !important
    }
}

body #page .homepageText.upper {
    padding-bottom: 0 !important;
    color: var(--white);
    width: 100%;
    text-align: right;
    line-height: 112%;
    margin-top: 48px !important
}
.about-cont{
    display: flex; flex-wrap: wrap; justify-content: flex-start;
}

body #page #resume-btn {
    width: 240px;
    min-height: 48px;
    text-align: center;
    color: var(--white);
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: 0;
    padding-top: 8px;
    border-radius: 24px;
    min-width: 320px;
    margin: 100px calc(50% - 160px) -100px calc(50% - 160px) ;
    background-color: #0031ff;
    border-top: 2px solid var(--white);
    padding: 12px;
    letter-spacing: 2px;
}

body #page #aboutMe {
    margin-top: 0;
    margin-left: calc((100vw - 1180px)/ 2);
    padding-left: 0;
    background-color: unset;
    border-radius: unset;
    width: 100%;
    transform: unset;
    color: unset
}

body #page .workDesc {
    padding: 0 20px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: 375ms linear
}

body #page .featured {
    border-radius: 12px;
    overflow: scroll
}

body #page footer {
    height: 612px;
    border-radius: 32px 32px 0 0;
    box-shadow: 0 -2px 0 0 #9c2102;
    position: relative
}

#footerLinks ul li{
    margin-bottom: 8px;
    font-size: 160%;
}

body #page #dot-field {
    height: 208px;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 103px;
    overflow: hidden;
    margin-top: 100px
}

body #page #tileInst {
    font-size: 10px;
    font-style: italic;
    color: gray;
    display: block;
    background-color: #fff;
    height: 12px;
    position: absolute;
    top: 18px;
    right: 68px
}

@media (max-width:801px) {
    body #page #resume-btn {
        font-size: 16px;
        padding-top: 12px;
        display: block;
    }

    body #page #tileInst {
        display: none
    }
}

body #page #getCode {
    font-size: 12px;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 188px;
    left: 86%;
    cursor: pointer;
    z-index: 3
}

body #page #dot-field:hover #getCode {
    opacity: .5
}

body #page #getCode:hover {
    opacity: 1 !important;
    color: azure;
    background-color: #373449
}

body #page .certs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 480px;
    height: 350px;
    margin: 200px calc(50% - 240px);;
}

body #page .certs a:not(p a) {
    margin-bottom: 24px;
    margin-right: 24px
}

body #page .certs p {
    width: 100%;
    text-align: center;
    margin: auto auto 28px !important
}

body #page .certs p a {
    color: var(--white) !important
}

@media only screen and (max-width:1200px) {
    body #page .certs {
        height: 350px;
        margin-left: 10% !important;
        margin-bottom: 150px;
    }
}

@media only screen and (min-width:801px) {

    body #page #portfolio,
    body #page #profWork {
        box-shadow: 6px 0 0 0 var(--white)
    }

    body #page .portfolioSectionHeader {
        width: 60%;
        padding: 48px 24px 6px 63px;
        border-radius: 60px 60px 0 0;
        z-index: 3;
        background-color: #fff;
        color: #373449;
        letter-spacing: 0
    }

    body #page #portfolio {
        background-color: #fff;
        width: 100%;
        padding: 60px;
        margin-bottom: 6px;
        border-radius: 0 48px 48px;
        border-top: 6px solid var(--white);
        z-index: 2;
        transform: translateY(-86px)
    }

    body #page #projWork {
        margin-bottom: 48px;
        border-radius: 0;
        padding-top: 0
    }

    body #page #roundCorner {
        background-color: #fff;
        height: 42px;
        width: 42px;
        z-index: 3
    }

    body #page #roundCorner div {
        border-radius: 0 0 0 42px;
        background-color: var(--black);
        height: 100%;
        width: 100%;
        border: 6px solid var(--white);
        border-top: none;
        border-right: none
    }

    body #page #profWork::before,
    body #page #projWork::before {
        transform: translateY(8px) rotate(45deg);
        box-shadow: grey 0 0 5px 1px;
        background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .5) 50%);
        background-size: 24px 24px
    }
}

@media only screen and (max-width:1296px) {
    body #page #top-nav .logo {
        border-radius: 50%;
    }

    body #page #me {
        display: none
    }

    body #page #resume-btn {
        transform: translateY(0) !important
    }

    body #page .portfolioSectionHeader {
        font-size: 32px;
        border-radius: 80px 80px 0 0
    }

    body #page #profWork::before,
    body #page #projWork::before {
        transform: translateY(16px)
    }

    body #page #roundCorner {
        transform: translateY(-7px)
    }

    body #page .featuredGrid {
        width: 100%;
        height: auto !important
    }

    body #page h2 {
        margin: 0;
        display: block
    }

    body #page #top-nav {
        width: 88vw;
        background-color: #fff !important;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-right: 0 !important;
        margin-left: auto !important;
        transform: translateX(100px);
    }

    body #page #barMenu {
        padding-right: 48px;
        transform: translateY(-4px)
    }

    body #page #Blogo {
        transform: translateX(-60px)
    }

    body #page #barMenu li a:link,
    body #page #barMenu li a:visited {
        color: var(--black) !important
    }

    body #page #barMenu li a:hover {
        color: #c33 !important;
        transition: none
    }

    body #page #barMenu li a:active {
        color: #0031ff !important
    }

    body #page .homepageText.bio {
        margin: auto
    }

    body #page #aboutMe {
        margin-left: 16.5% !important
    }

    body #page #getCode {
        left: 8%
    }
}

@media only screen and (max-width:800px) {
    /* body #page #top-nav {
        transform: translateX(100px);
    } */

    
    body #page .featuredGrid {
        width: 100%;
        grid-gap: 2px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 33px;
        height: auto !important
    }

    body #page #F3,
    body #page .featuredGrid a {
        height: 200px !important
    }

    body #page .featuredGrid p {
        margin-left: 26px !important
    }

    body #page #F8 {
        grid-row: 9/10;
        grid-column: 1/2
    }

    body #page .featured {
        border: 2px solid #0031ff;
        border-radius: 24px;
        border-top: none;
        border-left: none;
        width: calc(50vw - 42px);
        margin: 12px
    }

    body #page .prof {
        border: 2px solid #c33;
        border-top: none;
        border-left: none
    }

    body #page .portfolioSectionHeader {
        font-size: 24px;
        letter-spacing: 0;
        width: 100%;
        margin-left: 10px
    }

    body #page #projWork {
        margin-bottom: 24px
    }

    body #page #cursor {
        font-size: 74px;
        transform: translateY(32px)
    }

    body #page h2 {
        width: 80%;
        margin-left: 10% !important;
        left: 0;
        line-height: 48px
    }

    body #page .homepageText.upper {
        padding-bottom: 48px !important;
        width: 60%;
        text-align: left
    }

    body #page #dot-field,
    body #page #tileInst {
        display: none
    }

    body #page .workDesc {
        font-size: 14px;
        line-height: 100%;
        padding: 12px;
        margin-left: 0 !important
    }

    body #page .featured:active,
    body #page .featured:hover {
        background-color: #0031ff;
        filter: none;
        box-shadow: #000 0 0 10px 2px
    }

    body #page .prof:active,
    body #page .prof:hover {
        background-color: #c33
    }

    body #page .certs {
        justify-content: center;
        margin-left: 0;
        width: 100%;

    }
}

@media only screen and (max-width:600px) {

    body #page #me {
        display: none !important;
    }

    .about-cont{
        display: block;
    }

    #top-bar,
    #x:active,
    #x:hover,
    .bottomNav,
    .bottomNav .homeViewMoreDiv a,
    .bottomNav .prev a,
    .bottomNav .returnWork a,
    .bottomNav .rightBottomNav a,
    footer .BlueLine {
        color: #fff
    }

    #top-bar {
        display: block;
        width: 90vw
    }

    #top-bar button {
        color: #0031ff
    }

    #navMenu {
        width: 85vw
    }

    #top-nav {
        display: none;
        width: 90vw
    }

    #x {
        color: #000;
        font-weight: 500;
        font-size: 2.875rem;
        margin: 15px 32px 0 0
    }

    .logo {
        margin: 10px 0 0 5px
    }

    .darkNav {
        background: #151515 !important
    }

    #smLinks {
        text-align: left;
        margin: 0 0 35px;
        font-size: 1.2em
    }

    footer li {
        font-size: 1.4em
    }

    #footerContent {
        padding-top: 50px;
        margin: auto;
        width: 90%
    }

    h2 {
        margin: 25px 0 0 7.5%;
        line-height: 1;
        margin-top: 60px !important;
        margin-bottom: 24px !important
    }

    #Work .upper,
    #Work h2 {
        margin-left: 0 !important
    }

    .workGallery {
        width: 90%;
        padding-left: 0 !important
    }

    .workImgLink {
        width: 90vw;
        height: calc(100vw * .555);
        margin-bottom: 20px
    }

    .workImgHeader {
        padding: 10px
    }

    .homeViewMore,
    .prev,
    .returnWork,
    .rightBottomNav {
        font-size: 1.625em
    }

    .bottomNav {
        background-color: #0031ff;
        width: 100vw;
        font-size: 1em;
        padding-bottom: 66px
    }

    .bottomNav .BlueLine {
        background-color: #fff
    }

    .bottomNav .leftArrow {
        background-image: url("/assets/img/navWhiteArrowLeft.svg") !important;
        width: 30px;
        height: 15px
    }

    .bottomNav .rightArrow {
        background-image: url("/assets/img/navWhiteArrowRight.svg") !important;
        width: 30px;
        height: 15px
    }

    .workText {
        margin-top: 40px !important;
        margin-bottom: 50px !important
    }

    .workSampleBox {
        transition: transform 375ms ease-in-out
    }

    .caseStudyHeaderText {
        padding: 0 7.5%;
        margin: 10px 0 50px;
        margin-bottom: 56px !important;
        margin-top: 0 !important
    }

    .CSbackgroundImg,
    .casestudyHero {
        background-size: cover !important
    }

    .caseStudyHeaderText,
    .caseStudyText {
        font-size: 1em;
        line-height: 125%
    }

    .caseStudyText {
        margin-top: 48px !important
    }

    .industry,
    .task {
        font-size: .875em
    }

    .industry {
        margin-left: 7.5%
    }

    .casestudyHero,
    .image-bar {
        width: 100vw;
        margin: 0 0 0 -10px
    }

    .casestudyHero {
        height: 285px !important
    }

    .workSampleHeader {
        margin-top: 60px
    }

    .nextProject,
    .rightBottomNav {
        text-align: center;
        margin-top: 72px
    }

    .returnWork {
        margin-top: 32px
    }

    .caption {
        margin: 24px 2vw 12px;
        width: 96vw
    }

    .caption h5 {
        font-size: .875rem;
        letter-spacing: -2px
    }

    .CSbackgroundImg {
        height: 225px;
        width: calc(90% - 20px) !important;
        margin-bottom: 12px;
        margin-right: 5vw !important;
        margin-left: calc(5vw + 10px) !important
    }

    .videoRow {
        margin-left: 0 !important;
        width: 100vw !important
    }

    .casestudyHeroVid {
        margin-left: -10px;
        margin-bottom: -10px
    }

    #BusinessInfo {
        font-size: 1.5em;
        margin: 60px 0 48px 7.5%;
        letter-spacing: 1px;
        line-height: 120%
    }

    #contactForm {
        width: 90%
    }

    #submitContact {
        margin: 0 0 45px
    }

    body #page #me {
        width: 140px !important;
        height: 140px !important;
        transform: scale(.75) !important;
        top: -25px;
        left: 40%;
        position: absolute;
        display: block;
        filter: none;
        box-shadow: 2px 2px 0 0 var(--white);
        border: 1px solid var(--white)
    }

    body #page #cursor {
        font-size: 60px;
        transform: scale(.8) translateY(24px)
    }

    body #page #typing {
        font-size: 60px;
        line-height: 0
    }

    body #page .homepageText.upper {
        padding-top: 0 !important
    }

    body #page #top-bar {
        display: none
    }

    body #page #top-nav {
        display: block;
        transform: unset
    }

    body #page #barMenu {
        padding-right: 4px;
        transform: translateY(-8px)
    }

    body #page #Blogo {
        position: absolute;
        transform: scale(.625);
        left: -5px;
        top: 14px
    }

    body #page #barMenu li a {
        font-size: 14px
    }

    body #page .featured {
        width: 90vw
    }

    body #page .portfolioSectionHeader {
        font-size: 18px
    }

    body #page .workImgHeader {
        background-color: #0031ff;
        border: 1px solid #fff;
        border-radius: 24px 24px 0 0;
        border-bottom: none;
        border-right: none;
        border-left: none;
        text-transform: capitalize;
        margin-bottom: 0
    }

    body #page .workDesc {
        padding: 8px 0;
        margin-left: 26px !important
    }

    body #page .prof .workImgHeader {
        background-color: #c33
    }

    body #page .homepageText.bio {
        width: 76%;
        font-size: 14px;
        line-height: 140%;
        padding: 0;
    }

    body #page #aboutMe {
        margin-left: 12% !important;
        font-size: 24px
    }
}

body #page .blob {
    border-radius: 50%;
    position: absolute;
    background-color: #c33;
    transition: .5s linear;
    z-index: 0;
    opacity: .375
}

body #page .grid-container {
    position: relative;
    z-index: 1;
    overflow: hidden
}