:root {
    --white: #e9e8e8;

    --black: #373449;
    --navy: #003366;
    --primary-font: Collegiate, sans-serif;
}

@font-face {
    font-family: "Collegiate";
    src: url("assets/misc/Collegiate-wM1w.ttf") format("ttf"),
}

body{
    background-color: var(--black);
    color: var(--white);
}

ul li{
    color: #fefefe !important; 
}

#top-bar, #top-nav{
    background-color: #373449;
    margin-left: calc((100vw - 1242px) / 2) !important;
}

#top-nav ul li:link, #top-nav ul li:visited{ 
    color: #fefefe !important;
}

.scrolling #top-nav ul li:link, .scrolling #top-nav ul li:visited{
    color:#cc3333 !important;
} 

.logo{
    height: 48px;

}

.logo:hover{
    background-color: #cc3333;
    border-radius: 50%;
}

.workImgHeader {
    font-family: var(--primary-font) !important;
}

.featured:hover {
    background-color: #0031FF;
    filter:none;
 }

 .prof:hover {
    background-color: #cc3333;
 }

 .portfolioSectionHeader{
    margin: 0px;
    font-size: 48px;
    letter-spacing: 3px;
    width: 100%;
    font-family: var(--primary-font) !important;
}

#profWork{
    margin-bottom: 12px;
}



@media only screen and (min-width:801px){
    .portfolioSectionHeader{
        width: 60%;
        padding: 12px 24px;
        padding-left: 63px;
        border-radius: 60px;
        padding-bottom: 6px;
        z-index: 3;
  
        background-color:white;
        color: #373449;
        letter-spacing: 0px;
    
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-top: 48px;
    }

    #projects{
        box-shadow: 6px 0px 0px 0px var(--white);
        transform: translateY(86px);
    }
    
    #profWork{
        margin-bottom: 48px;
        border-radius: 0px;
        padding-top: 0px;
        transform: translateY(86px);
    }

    #roundCorner{
        background-color:white;
        height: 42px;
        width: 42px;
        transform: translateY(86px);
        z-index: 3;
    }
    #roundCorner div{
        border-radius: 0px 0px 0px 42px;
        background-color:var(--black);
        height: 100%;
        width: 100%;
        border: 6px solid var(--white);
        border-top: none;
        border-right: none;
    }
}


@media only screen and (max-width:1296px){
    .portfolioSectionHeader{
        font-size: 32px;
        border-radius: 80px 80px 0px 0px;
    }
  
    #projects::before, #profWork::before{
        transform: translateY(16px);
    }

    #roundCorner{
        transform: translateY(79px);
    }
    .featuredGrid {
        width: 100%;
        height: auto !important;
    }

    h1{
        margin: 0px 0 0 0;
        height: 284px;
        display: block;
    }

    #top-nav{
        width: 88vw;
        margin-left: 6vw !important;
    }

    #barMenu{
        padding-right: 48px;
        transform: translateY(-4px);
    }
    
    #top-nav{
        background-color: white !important;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-right: 0px !important;
        margin-left: auto !important;
    }

    #Blogo{
        transform: translateX(-60px);
    }

    #barMenu li a:link, #barMenu li a:visited{
        color: var(--black) !important;
    }
    #barMenu li a:hover{
        color: #cc3333 !important;
        transition: none;
    }
    #barMenu li a:active{
        color: #0031FF !important;
    }
}

#profWork::before{
    content:"";
    border-radius: 50%;
    background-color: #cc3333;
    height: 48px;
    width: 48px;
    display: inline-block;
    margin-right: 24px !important;
}

#projects::before{
    content:"";
    border-radius: 50%;
    background-color:#0031FF;
    height: 48px;
    width: 48px;
    display: inline-block;
    margin-right: 24px !important;
}

.featuredGrid {
    display: grid;
    grid-gap: 33px;
    height: 1360px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#F8{
    grid-row: 5/6;
    grid-column: 1/3;
}

#typing{
    font-size: 88px;
    font-family: var(--primary-font) !important;
    letter-spacing: 0px;
    color:white;
}

#cursor{
    font-size: 88px;
    transform: translateY(20px);
}

.upper{
    margin-top: 0px !important;
}
.homepageText.upper {
    padding-bottom: 0px !important;
    color:var(--white);
}

#top-nav{
    transform: translateX(20px);
}

#resume-btn{
    width:220px;
    height: 48px;
    text-align: center;
    color: var(--white);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0px;
    font-family: var(--primary-font) !important;
    padding-top: 8px;
    border-radius: 24px;
    margin: 60px auto 240px auto;
    background-color: #0031FF;
}
#resume-btn:hover{
    background-color:#cc3333;
}

#aboutMe{
    margin-top:180px;
    margin-left: calc((100vw - 1240px) / 2);
    background-color: unset;
    border-radius: unset;
    width: 100%;
    transform: unset;
    color:unset;
}

.workDesc{
    padding:20px;
    font-size: 18px;
    color: white;
    width: 100%;
    opacity: 0;
    transition: all 0.375s linear;
}
.featured:hover .workDesc{
    opacity: 1;
}

footer{
    height: 600px;
}


@media only screen and (min-width:801px) {
    #portfolio, #letterbody{
        background-color:  white;
        color: #373449;
        width: 100%;
        padding: 60px;
        border-radius: 48px;
        box-shadow: 6px 0px 0px 0px var(--white);
        margin-bottom: 6px;
        border-top: 6px solid var(--white);
        z-index: 2;
        border-top-left-radius: 0px;
    }
}


@media only screen and (max-width:800px) {
    .featuredGrid {
        width:100%;
        grid-gap:2px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 33px;
        height: auto !important;
    }
    .featuredGrid a{
        height: 200px !important;
    }
    #F8{
        grid-row: 9/10;
        grid-column: 1/2;
    }

    #F3{
        height: 200px !important;
    }

    .featured{
        border: 2px solid #0031FF;
        border-radius: 24px;
        border-top: none;
        border-left: none;
        width: calc(50vw - 42px);
        margin:12px;
    }
    .prof{
        border: 2px solid #cc3333;
        border-top: none;
        border-left: none;
    }
    .portfolioSectionHeader{
        font-size: 24px;
        letter-spacing: 0px;
        width: 100%;
        margin-left: 10px;
    }

    #profWork{
        margin-bottom: 24px;
    }

    #cursor{
        font-size: 74px;
        transform: translateY(32px);
    }
    
    h1{
        width: 80%;
        margin-left: 10% !important;
        left: 0%;
    }

    .homepageText.upper {
        padding-bottom: 48px !important;
    }
}

@media only screen and (max-width:600px) {
    #cursor{
        font-size: 60px;
        transform: translateY(-0px);
    }
}


.dot{
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 4px;
    z-index: -5;
    opacity: 0;
    transition: 0.375s opacity linear;
}