@charset "UTF-8";

/* ELLIOTT WAS HERE! */

/*ERNIE THE ELEPHANT WAZ HERE 2!!!*/

body {
	background-color:#924d3a;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#wrapper { /*ernie: like a candy wrapper? */
	width:95%;/*Elliott: No.*/
	min-width: 800px; /*ernie: I'm hungry */
	margin: auto;
	background-image:url(assets/background.jpg);
	background-repeat:repeat;
	background-size: contain;	
	border: 7px #784738 solid;
	border-radius:32px;
	box-shadow: 4px 4px 2px #231943;
}


#homepage {
	width:90%;
	height:auto;
	position: relative;
	bottom:-22px;
	z-index: 1;
}

header { /*ernie: Header? Are we playing soccer now? Goaaaaaaal!*/
	background-color: #1d2154;
}

main {
	width:55%;
	padding-right:1%;
	padding-left:1%;
	margin-left: 15%;
	margin-right:15%;
	
}
footer { /*ernie: I just call them shoes.*/
	background-color:#7f271d; /*Elliott: What?*/ 
	background-image:linear-gradient(to right, #351601, #481d0a, #a43732, #a43732, #481d0a, #351601);
	height:100px;/*e: Footers*/
	font-size:0.9em;/*E: A footer isn't a shoe, Ernie.*/
	color:whitesmoke;/*e: Yes they are. It's slang like 'Look at my cool new footers.'*/
	text-align: left;/*E: I'll tell you where I'll put my footer if you don't shut up. */
	border-radius: 0 0 25px 25px;
	padding:1px 10px 1px 10px;
	clear: both;
}

#footerblend {
	width: 100%;
	height: 20px;
	background-image:url(assets/foot.jpg);
	background-size:cover;
	background-color:#784738;
	background-position: bottom;
	background-repeat: repeat-x;
	position: relative;
	z-index: 1;
}

nav {
	float:none;
	width:100%;
	text-align:center;
	background-image: url(assets/header.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: repeat-x;
	border-radius: 5px 5px 0 0;
	height:50px;
	box-shadow: 0px 1px 1px #231943;		
}

nav ul {
	list-style-type:none;
	font-size: 2em;
	line-height:140%;
	text-align: center;
}

nav li {
	display:inline-block;
	background-color:transparent;
	border-radius: 10px;
	width: 175px;
	height:44px;
	margin-top: 2px;
	}

nav a:link, nav a:visited {
	color:#10112e;
	text-shadow: 1px 1px 1px black;
}

nav a:hover {
	font-size: 1.0em;
	color:#0f75bc;
	text-shadow: 1px 1px 1px navy;
}

nav a:active {
	font-size: 1.0em;
	color:#ee5723;
	text-shadow: 1px 1px 1px orangered;
}


h1 {
	color:white;
	font-size:100%;
	font-weight:bold;
}

a:link { /*ernie: A link.. */
	text-decoration: none;
	color:lightblue;
}
a:visited { /*ernie: A visited.. a visted what? Relative? Hotel? */
	text-decoration: none;
	color:lightblue;
}
a:hover { /*ernie: You really need to finish your sentences, Elliott.*/
	color:cornflowerblue;
}
a:active { /*Elliott: A active mouth on a smart-ass elephant really gets on one's nerves.*/
	color:cadetblue; 
}

h2 {
	font-size:165%;
	color:white;
	text-shadow: 2px 1px 0px navy;
	position: absolute;
	max-width: 80%;
	top:135px;
	left:2%;
	z-index: 3;
	display: block;
	width: 60%;
	text-align: center;
	transform: rotate(-8deg);
}

#creative {
	font-size:90%;
	position: relative;
	top:45px;
	z-index: 1;
}

#ernie { /*ernie: THAT'S MEEEEEE!!*/
	display:block;
	float:left;
	background-image:url(assets/erniewebgif.gif);
	background-size: contain;
	width: 227px;
	height:214px;
	position:relative;
	bottom:214px;
	left:4px;
	z-index: 5;
}

#footertext {
	position: relative;
	left:-220px;
}

.socialmedia {
	float:right;
	padding:25px 10px 0px 0px;
	z-index: 5;
}

.socialmedia:hover{
	width: 60px;
	padding:15px 15px 0px 0px;
}

#rightaside { 
	position: relative;
	float: right;
	width: 25%;
	padding-right: 1%;
}

#leftaside {
	position: relative;
	z-index: 2;
	float: left;
	width: 15%;
	padding-left: 1%;
}

#page1 {
	background-image:url(assets/aboutmepage1.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width:350px;
	height:365px;
	position: absolute;
	left:42%;
	top:100px;
	z-index: 2;
}

#aboutme1 { /*ernie: How come there's no 'About Me' about me?*/
	float: left;
	width:200px;
	height:auto;
	color:#a42922;
	font-family: 'Permanent Marker', cursive;
	position:absolute;
	z-index: 1;
	left:27%;
	top:23%;
	transform: rotate(-10deg);
	font-size:95%;
	opacity:0.8;
}

#page2 {
	background-image:url(assets/aboutmepage2.png);
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	display: block;
	width:350px;
	height:365px;
	position: absolute;
	right:175px;
	top:130px;
	float:right;
	transform: rotate(-20deg);
	z-index: 3;
}

#aboutme2 {
	float: right;
	width:200px;
	height:auto;
	color:#a42922;
	font-family: 'Permanent Marker', cursive;
	position:absolute;
	z-index: 1;
	left:22%;
	top:18%;
	transform: rotate(9deg);
	font-size:90%;
	opacity:0.8;
}

#bigpage {
	position: relative;
	max-width: 90%;
}


#lefthomepagesketch {
	background-image: url(assets/chairsketch.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width:365px;
	height:500px;
	bottom:75px;
	opacity: 0.2;
	z-index: 0;
	display:block;
}

#righthomepagesketch {
	background-image: url(assets/leafsketch.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width:365px;
	height:500px;
	bottom:40px;
	right:75px;
	opacity: 0.3;
	z-index: 0;
	display:block;
}



#coffee { 
	display:block;
	float:right;
	background-image:url(assets/coffee.png);
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	right:-4px;
	width:319px;
	height:255px;
	z-index: 4;
}

#coffee:hover {
	background-image:url(assets/empty.png);
}

#marker {
	display:block;
	float:right;
	background-image:url(assets/pen.png);
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	transform: rotate(-20deg);
	top:200px;
	right:2px;
	width:327px;
	height:126px;
	z-index: 3;
}

#marker:hover {
	filter:drop-shadow(0px 1px 1px #020537)
}

#videopad {
	display:block;
	background-image:url(assets/videopad.png);
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
	position:absolute;
	top:250px;
	right:250px;
	width:298px;
	height:251px;
	z-index: 2;
}

#homevid {
	position: absolute;
	transform: rotate(-7deg);
	left:25px;
	top:70px;
	z-index: 3;
	border: 2px orange solid;
	box-shadow: 1px 1px 2px navy;
}

#selfportrait {
	position: absolute;
	transform: rotate(8deg);
	left:55px;
	bottom:250px;
	z-index: 3;
	filter:grayscale(2%);
}

.border {
	border: 2px orange solid;
	box-shadow: 1px 1px 2px navy;
}

#mayapen {
	margin: 10% 0 1% 0;
}

h4 {
	color:white;
	font-style: italic;
	text-align: left;
	text-decoration: underline;
	font-size: 122%;
	margin-top:-2px;
	margin-left: 50%;
	text-shadow: 1px 0px 0px orangered;
}

figcaption {
	display: block;
	width:100%;
	color:white;
	font-style: italic;
	text-align: center;
	text-decoration: underline;
	font-size: 177%;
	background-color: darkslateblue;
	padding: 5px 0 8px 0;
	margin-bottom: 20%;
	text-shadow: 1px 1px 0px orangered;
	box-shadow: 2px 2px 1px #000;
}

#back {
	float: left;
	margin: 2% 2% 0 2%;
	opacity: 0.5;
}

#back:hover {
	opacity: 1.0;
}


#whitespace {
	background-image: url(assets/whitespace.png);
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	box-shadow: 5px 5px 5px #000;
	margin: 3% 0 5% 0; 
	z-index: 1;
}

.gallerysection {
	position: relative;
	z-index: 2;
	padding: 15px;
	margin-left: 7%;
}

.gallerysection:hover {
	border: 3px groove orange;
	border-radius: 10px;
	box-shadow: 2px 4px 1px orange;
}

#illustrator {
	margin-top: 5%;
}

.mac {
	margin:10% 0 7% 0;
}

#macs {
	margin: 10% 0 2% 0;
}

#css {
	background-color: white;
	margin:17% 0 2% 0;
}

 .website {
	margin:2% 0 1% 0;
	border: 2px orange solid;
	box-shadow: 1px 1px 2px navy;
}

#sites figcaption {
	width:150%;
	margin-bottom: 7%;
}

#skillpage {
	width:90%;
	height:auto;
	position: relative;
	bottom:-22px;
	left:-100px;
	z-index: 1;
}

#letter {
	margin-top: 5%;
	position: relative;
	right:-50px;
	top:100px;
}

#card {
	background-image: url(assets/businesscardfront.png);
	background-size: contain;
	width:166px;
	height:267px;
	position: relative;
	margin-left:45%;
	margin-top:5%;
	right:20px;
}
#card:hover {
	background-image: url(assets/businesscardback.png);
}

#skillspage {
	background-image:url(assets/skillspage.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width:350px;
	height:365px;
	position: absolute;
	left:42%;
	top:100px;
	z-index: 3;
}

#aboutskills { 
	float: left;
	width:200px;
	height:auto;
	color:#a42922;
	font-family: 'Permanent Marker', cursive;
	position:absolute;
	z-index: 3;
	left:28%;
	top:10%;
	transform: rotate(-12deg);
	font-size:75%;
	opacity:0.8;
}

#aboutme2 a:link, #aboutskills ul a:link, #aboutme2 a:visited, #aboutskills ul a:visited {
	color:darkred;
}

#aboutme2 a:hover, #aboutskills ul a:hover {
	color:darkblue;
}

.icon {
	font-size: 2.4em;
	color: navy;
}

#contactform {
	width:70%;
	padding-right:1%;
	padding-left:1%;
	margin-left: 15%;
	margin-right:15%;
	padding-bottom:10%;
}

#formaside{
	position: relative;
	float: left;
	width: 25%;
	padding-left:30px;
	margin-top: 6%;
}

input[type=text], select, textarea {
    width: 75%;
	height:75px;
	color:whitesmoke;
	font-size: 80%;
	font-weight: bold;
    padding: 11px;
    border-radius: 7px;
    margin-bottom: 5%;
	resize: vertical;
	margin-top: 10%;}

input[type=text]:hover {
	background-color: darkorange;
}

input[type=text]:focus {
	background-color:midnightblue;
}

input[type=submit] {
	width: 33%;
	height:25px;
	color:white;
	font-size: 80%;
	text-transform: uppercase;
	background-color: transparent;
	font-weight:bold;
	letter-spacing:5px;
	border:2px white solid;
	border-radius: 3px;
}

input[type=submit]:hover {
	color:navy;
	background-color: orange;
	border:2px orangered solid;
}

#name, #email, #websiteinfo, #phone {
	width:75%;
	height:15px;
	border-radius: 4px;
	margin-top:1%;
}

#jar {
	display: block;
	width:65%;
	height:auto;
	color:darkred;
	margin-left: 63%;
	font-size: 90%;
	line-height: 110%;
	text-shadow:1px 0 0 #000;
	text-decoration: none;
	background-color: transparent;
	font-family: 'Gloria Hallelujah', cursive;
}

#tearjar {
	float: right;
}




@media only screen and (max-width:1400px) {
	
	#page1 {
		width:333px;
		height:347px;
		z-index: 2;
	}
	
	#skillspage: {
		width:333px;
		height:347px;
		z-index: 4;
	}
	
	#page2 {
		width:333px;
		height:347px;
		transform: rotate(5deg);
		top:270px;
		z-index: 3;
	}
	
	#aboutme1 {
		font-size: 90%;
	}
	
	#aboutskills {
		font-size: 67%;
	}
	
	#aboutme2 {
		font-size: 90%;
	}
	
	#marker {
		transform: rotate(70deg);
		width: 294px;
		height: 113px;
		right:27px;
	}
	
	h2 {
		font-size:145%;
	}
	
	#lefthomepagesketch {
		display:none;
	}		
}

@media only screen and (max-width:1150px) {
	
	#page1 {
		z-index: 3;
	}
	
	#skillspage: {
		width:333px;
		height:347px;
		z-index: 4;
	}
	
	#coffee {
		width:303px;
		height:242px;}
	
	#marker {
		transform: rotate(90deg);
		width: 262px;
		height: 101px;
		bottom:50px;
		right:30px}
	
	#ernie {
		width: 181px;
		height:171px;
		bottom:160px;
		left:-1px;}
	
	#footertext {
		left:-180px;}
	
	#videopad {
		width:238px;
		height:201px;
		top:220px;
		right:200px;}
	
	#homevid {
		top:50px;
		left:20px;}
	
	#selfportrait {
		left:35px;
		bottom:220px;}
	h2 {
		font-size:120%;}
	
	#letter {
		display:none;
	}
	
	#card,h4 {
		margin-left: 40px;
	}
	
	#lefthomepagesketch, #righthomepagesketch {
		display:none;
	}	
	
	#aboutskills {
		line-height:142%;
	}
}		

@media only screen and (max-width:1000px) {
	
	#page1 {
		width:263px;
		height:274px;
		z-index: 2;	
	}
	
	#skillspage {
		width:263px;
		height:274px;
		z-index: 4;	
	}
	
	#page2 {
		width:263px;
		height:274px;
		transform: rotate(15deg);
		top:230px;
		z-index: 3;
	}
	
	#aboutme1, #aboutme2 {
		font-size: 70%;
		display: block;
		max-width: 60%;
	}
	
	#aboutskills {
		font-size: 52%;
		display: block;
		max-width: 60%;
		line-height: 125%;
	}
	
	#coffee {
		width:242px;
		height:194px;
		right:-20px;
	}
	
	#marker {
		transform: rotate(-70deg);
		width: 245px;
		height: 95px;
		right:-2px;
		bottom:50px;
	}
	
	#lefthomepagesketch, #righthomepagesketch {
		width:219px;
		height:300px;
		bottom:250px;
	}
	
	#videopad {
		right:150px;}
	
	.mac {
		margin:14% 0 12% 0;}	
}

@media only screen and (max-width:768px) {
	
	#wrapper {
		min-width: 500px;
	}
	
	#homepage, #skillpage {
		margin-top:150px;
		width: 110%
	}
	
	h2 {
		margin-top:130px;
		left:20px;
		font-size:125%;
	}
	
	#creative {
		top:70px;
		font-size:100%;
	}
	
	#videopad {
		width:214px;
		height:181px;
		top:33px;
		left:-100px;
		transform: rotate(-11deg);}
	
	#selfportrait {
		width:142%;
		bottom:42px;
		left:42px;
	}
	
	nav li {
		width: 125px;
	}
	
	#page1, #skillspage {
		width:237px;
		height:247px;
		top:130px;
		left:335px;
		z-index: 4;}
	
	
	#page2 {
		width:235px;
		height:247px;
		transform: rotate(7deg);
		top:255px;
		right:150px;
	}
	
	#aboutme1 {
		font-size: 67%;
		display: block;
		max-width: 60%;
		line-height: 150%;
	}
	
	#aboutskills {
		font-size: 50%;
		display: block;
		max-width: 60%;
		line-height: 100%;
	}
	
	#aboutme2 {
		font-size: 60%;
		display: block;
		max-width: 60%;
		line-height: 150%;
		left:25%;
	}
	
	#coffee {
		bottom:-420px;
		width:194px;
		height:155px;
		right:-20px;
	}
	
	#marker {
		transform: rotate(90deg);
		width: 245px;
		height: 95px;
		right:-25px;
		top:42px;
		z-index: 5;
	}
	
	#card,h4 {
		display:none;
	}
	
	#rightside {
		top:240px;
	}
	
}

@media only screen and (max-width:650px) {
	
	#coffee {
		display:none;
	}
	
	#marker {
		top:350px;
		right:-55px;
		transform: rotate(85deg);
	}
	
	#page1, #skillspage {
		left:300px;
	}
	
	#page2 {
		right:50px;
	}
	
	#videopad {
		top:10px;
	}
	
	nav li {
		width: 100px;
	}
	
	#about, #about:hover, #about:active {
		background-size: 65px 30px;
		background-position: right;	
	}
	
	#gallery, #gallery:hover, #gallery:active {
		background-size: 64px 30px;
		background-position: left;
	}	
	
	#skills, #skills:hover, #skills:active {
		background-size: 50px 30px;
	}
	
	#contact, #contact:hover, #contact:active {
		background-size: 75px 30px;
		background-position: left;
	}
	
	#jar, #tearjar {
		display:none;
	}

}

@media only screen and (max-width:480px) {
	
	#wrapper {
		min-width: 300px;
	}
	
	nav: {
		height: 50px;
	}
	
	
	nav li {
		width: 75px;
	}
	
	
	#homepage, #skillpage {
		margin-top:450px;
		width: 172%;
		left:0px;
	}
	
	h2 {
		width:80%;
		margin-top:400px;
		left:30px;
		font-size:125%;
	}
	
	#marker {
		display: none;
	}
	
	#videopad {
		display: none;
	}
	
	#selfportrait {
		width:200%;
		bottom:50px;
		left:42px;
	}

	#page1, #skillspage {
		width:237px;
		height:247px;
		top:110px;
		left:35px;
		z-index: 4;}
	
	#page2 {
		width:235px;
		height:247px;
		transform: rotate(7deg);
		top:222px;
		right:30px;
	}
	
	#aboutme1 {
		font-size: 67%;
		display: block;
		max-width: 60%;
	}
	
	#aboutskills {
		font-size: 40%;
	}
	
	#aboutme2 {
		font-size: 60%;
		display: block;
		max-width: 60%;
	}
	
	#ernie {
		display: none;
	}
	
	footer {
		font-size:0.75em;
	}
	
	#footertext {
		position:static;
		left:2px;}
}

	

